@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9' !important;
}

button {
    text-wrap: nowrap;
}

body {
    transition-duration: 300ms;
    position: relative;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../public/features-bg.webp);
    z-index: -1;
    opacity: .1;
}

.tabAnim {
    z-index: -9;
}

#monthly:checked~div {
    --tw-translate-x: -50%;
}

#annually:checked~div {
    --tw-translate-x: 50%;
}